### {{#moduleName}}{{moduleName}}.{{/moduleName}}{{#className}}{{className}}.{{/className}}{{name}}({{#paramsString}}{{paramsString}}{{/paramsString}}){{#version}} {{version}}{{/version}}
{{#description}}

{{{description}}}
{{/description}}
{{#deprecated}}

Deprecated: {{{deprecated}}}
{{/deprecated}}
{{#hasParams}}

#### Arguments

{{/hasParams}}
{{#params}}
{{> member}}
{{/params}}
{{#fires}}

#### Fires

{{.}}
{{/fires}}
{{#returns}}

#### Returns

{{> member}}
{{/returns}}

{{#examples}}

#### Example

```js
{{{examples}}}
```
{{/examples}}
